

.article {
    background-image: url('./grad.png'), linear-gradient(180deg, #00000066 0%, #000000aa 50%, black 100%);
    background-repeat: no-repeat;
    background-size: 100% 250px, 100% 260px;
    background-blend-mode: multiply;
}

.article * {
    color: #ffffffcc;
    /* color: white; */
}


.article {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

.article h1,
.article h2,
.article h3,
.article h4 {
    font-family: 'Cinzel', serif;
}

.article .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.article .sidebar {
    height: 100%;
    width: 25%;
    padding: 1rem 1rem;
}

.article .sidebar-main {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid white;
}

.article .sidebar-main > a:first-child {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article .sidebar-main img {
    width: 5rem;
    margin-top: 1rem;
    aspect-ratio: 1/1;
}

.article .toc {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article .toc h2 {
    font-size: 1.2rem;
}

.article .toc ul {
    padding-left: 1rem;
    font-size: 1rem;
    margin-top: 1.5rem;
}


.article .toc li {
    font-family: 'Fauna One', sans-serif;
    line-height: 1.5rem;
    letter-spacing: .4px;
    margin-bottom: 1.5rem;
    transition: all ease .3s;
}


.article .toc li:hover {
    color: white;
}

.article .body {
    margin: 1rem 0;
    width: 100%;
    font-family: 'Fauna One';
    scroll-behavior: smooth;
    overflow: auto;
}

.article .body::-webkit-scrollbar-thumb {
    background-color: #ffffffaa;
}


.article .body::-webkit-scrollbar,
.article .body::-webkit-scrollbar-track {
    background: transparent;
}

.article .body-main>h1 {
    padding: 2rem 2rem 4rem;
    font-size: 2.5rem;
}

.article .body-main .sep {
    margin: 0 .5rem;
}

.article .share-side {
    width: 10%;
    height: 100%;
    padding: 1rem;
}

.article .share-side-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article .share-side .share-container {
    display: flex;
    flex-direction: column;
}

.article .share-side .share-container svg {
    border: .2rem solid #ffffffcc;
    cursor: pointer;
    font-size: 3rem;
    padding: .6rem;
    background-color: black;
    border-radius: .4rem;
    margin: 1rem 0;
    transition: all .3s ease;
}


.article .share-side .share-container a{
    position: relative;
}

.article .share-side .share-container a:after{
    content: 'Share to';
    font-family: 'Redressed', sans-serif;
    color: white !important;
    top: 50%;
    transform: translate(50%, -50%);
    right: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    transition: all ease .3s;
}


.article .share-side .share-container a:hover:after{
    right: calc(200%);
    width: 90px;
}

.article .share-side .share-container svg path {
    color: white;
    transition: all .3s ease;
}

.article .share-side .share-container a:hover svg {
    background: white;
    box-shadow: 0 0 1rem 0 white;
}

.article .share-side .share-container a:hover svg path {
    color: black;
}

.article .content {
    border-top: 1px solid white;
    margin-top: 1rem;
    position: relative;
    padding: 2rem 0;
}


/* .article .content .back-2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    filter: grayscale(1);
} */


.article .markdown {
    font-family: 'Nunito', sans-serif;
    padding: 0 2rem;
}

.article .markdown>h1,
.article .markdown>h2,
.article .markdown>h3,
.article .markdown>h4,
.article .markdown>h5,
.article .markdown>h6 {
    margin: 3rem 0 .5rem;
}

.article .markdown h2 {
    font-size: 1.8rem !important;
}

.article .markdown p,
.article .markdown li {
    word-spacing: .25rem;
}

.article .markdown ul,
.article .markdown ol {
    margin: .5rem 0;
}

.article .markdown .avatar {
    float: right;
    width: 40%;
    min-height: 300px;
    font-family: 'Redressed', sans-serif;
    filter: grayscale(.9);
    border: 1px solid #ffffff44;
    border-radius: .25rem;
    background-color: #000000cc;
    margin-left: .5rem;
    transform-origin: 100% 50%;
    overflow: hidden;
    transition: filter ease-out 1s .5s, transform ease-in .5s;
}

.article .markdown .avatar img {
    width: 100%;
}

.article .markdown .avatar span {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    margin: .25rem 0;
}

.article .markdown .avatar:hover {
    filter: grayscale(0);
    transform: scale(1.2);
}

.article .markdown iframe {
    border: 2px solid #ffffff66;
    padding: .25rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.article .markdown p,
.article .markdown li {
    font-size: 1.2rem;
    /* font-weight: 300; */
}

.article .bottom-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
    ;
}

.article .bottom-links a {
    width: 100%;
    padding: .5rem;
}

.article .bottom-links button {
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all ease-out .3s;
    border: 4px solid #1DB954;
    font-family: 'Signika', sans-serif;
    background-color: black;
}

.article .bottom-links .spotify svg {
    margin-right: .5rem;
    background-color: black;
    border-radius: 100%;
}

.article .bottom-links .spotify svg * {
    color: #1DB954 !important;
}

.article .bottom-links .spotify:hover {
    background-color: white;
    color: black;
}

.article .bottom-links .website {
    border-color: white;
    transition: all ease-out .3s;
}

.article .bottom-links .website img {
    height: 1em;
    /* aspect-ratio: 1/1; */
    margin-right: .5rem;
    transition: all ease-out .3s;
}

.article .bottom-links .website:hover {
    background-color: white;
    color: black;
}


.article .bottom-links .website:hover>img {
    filter: invert(1);
}