section.featured {
    position: relative;
    color: #ffffffcc;
    padding: 130px 0 130px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Cinzel', serif;
}

.featured h2 {
    font-weight: 900;
    font-size: 8rem;
    position: absolute;
    height: fit-content;
    left: 0;
    background: linear-gradient(90deg, #ffffff22 30%, #ffffffbb 100%);
    background-clip: text;
    color: transparent;
    user-select: none;
    padding: 3rem 1rem 0;
    padding-top: calc(3rem - 3px);
}

.featured div>h2:last-child {
    top: calc(350px - 3px);
}

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel {
    position: relative;
    background: black;
    width: 100%;
    padding: 0 1rem;
    z-index: 2;
}

.carousel::before {
    position: absolute;
    content: " ";
    display: block;
    top: 0;
    z-index: 1;
    width: calc(100% - 2rem);
    background: linear-gradient(90deg, black 0%, transparent 25%, transparent 75%, black 100%);
    pointer-events: none;
    height: 350px;
}

.carousel-item {
    width: 66%;
}

.carousel-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 0 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    padding: .5rem;
    height: 350px;

}

.carousel-content>img {
    min-width: 40%;
    height: 100%;
    border-radius: .7rem 0 0 .7rem;
    object-fit: cover;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: filter ease 2s 1s;
    mask-image: linear-gradient(90deg, black 20%, transparent);
}


.carousel-content>img:hover {
    filter: grayscale(0);
}

.carousel-content>div {
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.carousel-content>div>h3 {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.carousel-content>div>p {
    font-family: 'Fauna One', serif;
    font-size: 1.10rem;
    letter-spacing: 1.35px;
    word-spacing: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.6rem;
}

.carousel-content>div>a,
.carousel-content>div>a:link,
.carousel-content>div>a:visited,
.carousel-content>div>a:active {
    text-underline-offset: 3px;
    color: #ffffffcc;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    text-align: right;
}


.featured>.caret-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    align-items: center;
}

.featured .caret {
    text-align: center;
    font-size: 3.5rem;
    cursor: pointer;
    animation: bounce 1s infinite;
    color: white;
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, .2, 1);
    }
}