* {
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: white;
  color: black;
}

html {
  background-color: black;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  background-color: black;
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  height: 1rem;
  border-radius: 10px;
}